{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "paths": {
      "@db": ["../prisma/generated"]
    },
    "target": "es2019",
    "keepClassNames": true,
    "loose": true,
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false
  }
}
